.form_container{
  width: 100%;
  min-height: 100vh;
  background-color: var(--secondary);
  overflow-y: auto;
  padding: 5rem 0;
}
.form{
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 4rem;
  border-radius: 12px;
  margin: auto;
  width: 25rem;
}
.form_brandContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary);
}
.form_brandIcon{
  width: 3rem;
  height: auto;
  color: var(--primary)
}
.form_brandText{
  font-size: 2rem;
  color: var(--dark);
}
.form_inputContainer{
  z-index: 1;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1rem 0;
  padding: 0;
}

.form_input{
  padding: .4rem 1rem;
  border: none;
  border-bottom: 2px solid var(--primary);
  border-radius: 5px;
  background-color: inherit;
  outline: none;
  transition: background-color .4s;
  width: 14rem;
}
.form_input:focus{
  background-color: var(--secondary);
  border: none;
  border-bottom: 2px solid var(--primary);
}
.form_btnSubmit{
  background-color: var(--primary);
  color: var(--white);
  border-radius: 10px;
  padding: .6rem 1.5rem;
  border: none;
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
}
.form_submitText{
  font-size: 1.4rem;
  margin-right: 1rem;
}
.form_userIcon{
  width: 2rem;
  height: auto;
}
.form_btnGoogle{
  background-color: red;
  border: none;
  color: white;
  border-radius: 10px;
  padding: .7rem 1.5rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form_googleIcon{
  width: 2rem;
  height: auto;
  margin-right: 1rem;
}
.form_googleText{
  font-size: 1.2rem;
}
.form_shippingIcon{
  width: 3.5rem;
  height: auto;
  color: var(--primary);
}
.form_date{
  border: none;
  border-radius: 4px;
  height: 3rem;
  text-align: center;
  width: 14rem;
  z-index: 100;
}
.form_date:hover, .form_date:focus{
  outline: none;
  background-color: var(--secondary);
}
.form_btnSeconday{
  background-color: var(--secondary);
  padding: .6rem 1.5rem;
  border-radius: 12px;
  border: 2px solid var(--primary);
}
.inputBorder{
  border-radius: 8px;
  border-bottom: 2px solid var(--primary);
  padding: .5rem;
}
@media screen and (max-width: 700px) {
  .form_form{
    padding: 1rem;
  } 
}
@media screen and (min-width: 900px){
  .form_input{
    margin-left: 1rem;
    width: 20rem;
  }
  .form{
    width: 40rem;
  }
  .form_date{
    width: 20rem;
  }
}