:root{
  --primary: #1D1E20;
  --secondary: #A9AFBA;
  --dark: #333;
  --white: #fff;
  --tertiary: #6E6B59;
  --gray: #DBDBDB;
}

html,
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  color:var(--dark);
  background-color: var(--white);
  font-family: "Tilt Neon", sans-serif;
  width: 100%;
  height: 100vh;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Tilt Neon", sans-serif;
}
ul{
  list-style: none;
}
.color-orange{
  color: var(--tertiary);
}


/* For resposive web desing we need to do some media queries, and of course i gonna using relatives size y my components */
html{
  font-size: 14px;
}
@media screen and (min-width: 600px) and (max-width:800px){
  html{
    font-size: 16px;
  }
}
@media screen and (min-width: 800px) and (max-width:1600px){
  html{
    font-size: 18px
  }
}
@media screen and (min-width: 1600px){
  html{
    font-size: 20px
  }
}