.content{
  margin-top: 0;
  height: 100%;
}
.desk{
  display:none;
}
.mobile{
  display: flex;
}
@media screen and (min-width: 800px) {
  .desk{
    display: flex;
  }
  .mobile{
    display: none;
  }
  .content{
    margin-top: 4rem;
  }
}