.product_container{
  width: 100%;
  min-height: 100%;
  background-color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: start;
  overflow: hidden;
  align-items: center;
  position: relative;
}
.product_imgContainer{
  width: 100%;
  height: auto;
  padding-bottom: 2rem;
  background-color: var(--light-green);
  border-radius: 0 0 20px 20px;
}
.product_detailsContainer{
  width: 100%;
  height: 100%;
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  position: relative;
}
.product_price{
  font-size: 1.4rem;
  color: var(--dark-green);
}
.product_descripton{
  font-size: 1.2rem;
}
.product_btn{
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  padding-top: 2rem;
  width: 100%;
}
.product_inCartContainer{
  position: absolute;
  top: .5rem;
  left: 5rem;
  font-size: 1.7rem;
  color: var(--orange);
}
.product_cartIcon{
  width: 2rem;
  height: auto;
  margin-left: 10px;
}
@media screen and (min-width:1200px){
  .product_container{
    height: calc(100vh - 4rem);
    flex-direction: row;
  }
  .product_imgContainer{
    width: 100vw;
    height: 100%;
  }
}