.product_container{
  width: 100%;
  min-height: 100%; 
  background-color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  align-items: center;
  position: relative;
}
.product_imgContainer{
  width: 100%;
  height: auto;
  padding-bottom: 2rem;
  background-color: var(--secondary);
  border-radius: 0 0 20px 20px;
}
.product_detailsContainer{
  width: 100%;
  height: 100%;
  padding: 5rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  overflow-y: auto;
}
.product_price{
  font-size: 1.4rem;
  color: var(--primary);
}
.product_descripton{
  font-size: 1.2rem;
  padding: 0 10px;
  overflow: auto;
}
.product_descripton::-webkit-scrollbar {
  width: 5px;
  background-color: inherit;
  height: auto;
}
.product_descripton::-webkit-scrollbar-thumb{
  width: 5px;
  height: auto;
  border-radius: 5px;
  background-color: var(--primary);
}

.product_btn{
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  padding-top: 2rem;
  width: 100%;
}
.product_inCartContainer{
  position: absolute;
  top: .5rem;
  left: 5rem;
  font-size: 1.7rem;
  color: var(--tertiary);
}
.product_cartIcon{
  width: 2rem;
  height: auto;
  margin-left: 10px;
}
.product_Icon{
  width: 1.2rem;
  height: auto;
  margin: 0 2rem;
  color: var(--primary);
  cursor: pointer;
}
.product_quantityText{
  font-size: 1.7rem;
}
@media screen and (min-width:1200px){
  .product_container{
    height: calc(100vh - 4rem);
    flex-direction: row;
  }
  .product_imgContainer{
    width: 100vw;
    height: 100%;
    border-radius: 0;
  }
}