.select_container{
  position: relative;
  width: 15rem;
}
.select_button{
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--dark-green);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 12px;
  background-color: var(--light-green);
}
.select_label{
  width: 100%;
  padding: 0;
  color: var(--dark-green);
}
.select_selected{
  padding: 0;
  width: 100%;
  color: var(--orange);
}
.select_icon{
  width: .8rem;
  margin-left: 1rem;
}
.select_content{
  padding: .7rem 0;
  height: 0rem;
  width: 100%;
  margin: auto;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--dark-green);
  border-radius: 12px;
  color: var(--white);
  z-index: 100;
}
.select_content::-webkit-scrollbar{
  width: 10px;
  height: auto;
}
.select_content::-webkit-scrollbar-thumb {
  background-color: var(--light-green);
  border-radius: 12px;
  border: 1px solid var(--dark)
}
.select_option{
  z-index: 100;
  font-size: 1.2rem;
  width: 100%;
  display: block;
  border-radius: 4px;
  text-align: center;
  padding: .3rem 0;
  cursor: pointer;
  border-bottom: 0;
  transition: all .2s;
}
.select_option:hover{
  color: var(--orange);
  font-size: 1.4rem;
}

@media screen and (min-width:900px){
  .select_container{
    width: 20rem;
  }
}